body{
    margin: 0;
}

#akNavContainer{
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}

#rimg{
    width: 53px;
    height: 20px;
    margin-left: 30px;
}

#cartImg{
    margin-right: 20px;
}

#akBodyContainer{
    /* height: 100vh; */
    background-color:#f4f4f4;
    display: flex;
    justify-content: center;
}

#akMiddleContainer{
    /* border: 1px solid red; */
    width: 70%;
    margin: 20px 0;
    display: flex;
}

#akMiddleLeft{
    /* border: 1px solid blue; */
    width: 63%;
}

#akMiddleRight{
    /* border: 1px solid blue; */
    width: 37%;
}

.cOutDetailsCont{
    width: 91.5%;
    /* border: 1px solid green; */
    background-color: #fff;
    padding:1px 0 30px 30px;
    margin-bottom: 20px;
}

.sup{
    color: red;
}

.linkColor{
    color:#00819d;
    text-decoration: none;
}

#akMiddleRight{
    background-color: #fff;
    height: fit-content;
}
#akMiddleRight>div{
    padding:0 30px;
    margin-bottom: 20px;
}

#akMiddleRight button{
    width: 100%;
    border: none;
    background-color: #00819d;
    color: #fff;
    padding: auto;
    height: 50px;

}

#akMiddleRight button:hover{
    border: 1px solid #00819d;
    color: #00819d;
    background-color: #fff;
}

.rOrder{
    display: flex;
    justify-content: space-between;
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
    color: #393939;
}

#needHelp{
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    color: #737373;
}

.sectionHeading{
    font-size: 21px;
    font-weight: 400;
    line-height: 29px;
    color: #393939;
}

.innerText{
    font-size: 15px;
    line-height: 21px;
    font-weight: 400;
    color: #393939;
}

.userDetailsTitle{
    font-size: 15px;
    font-weight: 700;
    line-height: 1px;
    color: #393939;
    margin-top: 30px;
}

.inputStyle{
    width: 65%;
    height:35px;
    padding-left: 10px;
    border-radius: 0;
    border: 1px solid #737373;
    display: block;
}

.radioStyle{
    width: 20px;
    height: 30px;
}

.errorMsg{
    color: red;
    display: none;
}
